In [1]:
import pandas as pd
import datetime
from importnb import Notebook
with Notebook():
    from utility import Utility

class Data:
    def __init__(self,path):
        self.data = pd.read_csv(path)
        self.data_cleaned = None
        
    def get_data_info(self,data):
        print("------------------------------First Five rows:------------------------------")
        print(data.head(5))
        print("------------------------------Last Five rows:------------------------------")
        print(data.tail(5))
        print("------------------------------Data Info:------------------------------")
        print(data.info())
        print("------------------------------Data Description------------------------------")
        print(data.describe().transpose())
    
    def clean_data(self):
        Todays_date = datetime.datetime(2020, 6, 15)
        
        util = Utility()
        
        
        self.data['TransactionTime'] = util.parse_date(self.data['TransactionTime'])
        self.data['TransactionTime'] = pd.to_datetime(self.data['TransactionTime'])
        
        self.data_cleaned = self.data[(self.data['UserId']>0)]                                         #ignoring the rows with UserID == -1
        self.data_cleaned = self.data_cleaned[(self.data_cleaned['ItemCode']>0)]                       #ignoring the rows with ItemCode == -1
        self.data_cleaned = self.data_cleaned[(self.data_cleaned['NumberOfItemsPurchased']>0)]         #ignoring the rows with NumberOfItemsPurchased < 0  
        self.data_cleaned = self.data_cleaned[(self.data_cleaned['CostPerItem']>0)]                    #ignoring the rows with CostPerItem < 0  
        self.data_cleaned = self.data_cleaned[(self.data_cleaned['TransactionTime']<Todays_date)]      #ignoring the rows with TransactionTime > Todays_date
        
        self.data_cleaned['TotalPrice'] = self.data_cleaned['NumberOfItemsPurchased'] * self.data_cleaned['CostPerItem']
        
        print('Number of rows ignored',(len(self.data)-len(self.data_cleaned)))

In [2]:
transaction_data = Data('transaction_data.csv')

In [3]:
transaction_data.get_data_info(transaction_data.data)

------------------------------First Five rows:------------------------------
   UserId  TransactionId               TransactionTime  ItemCode  \
0  278166        6355745  Sat Feb 02 12:50:00 IST 2019    465549
1  337701        6283376  Wed Dec 26 09:06:00 IST 2018    482370
2  267099        6385599  Fri Feb 15 09:45:00 IST 2019    490728
3  380478        6044973  Fri Jun 22 07:14:00 IST 2018    459186
4      -1        6143225  Mon Sep 10 11:58:00 IST 2018   1733592

                     ItemDescription  NumberOfItemsPurchased  CostPerItem  \
0   FAMILY ALBUM WHITE PICTURE FRAME                       6        11.73
1              LONDON BUS COFFEE MUG                       3         3.52
2  SET 12 COLOUR PENCILS DOLLY GIRL                       72         0.90
3        UNION JACK FLAG LUGGAGE TAG                       3         1.73
4                WASHROOM METAL SIGN                       3         3.40

          Country
0  United Kingdom
1  United Kingdom
2          France
3  United Kingdom
4  United Kingdom
------------------------------Last Five rows:------------------------------
         UserId  TransactionId               TransactionTime  ItemCode  \
1083813  313131        6040298  Mon Jun 18 09:18:00 IST 2018    437976
1083814  295743        6387117  Sat Feb 16 09:14:00 IST 2019    484113
1083815      -1        6361817  Tue Feb 05 05:26:00 IST 2019    497595
1083816  324765        5945500  Fri Mar 23 06:26:00 IST 2018    470883
1083817  351645        6118145  Tue Aug 21 08:21:00 IST 2018    471849

                          ItemDescription  NumberOfItemsPurchased  \
1083813  DENIM PATCH PURSE PINK BUTTERFLY                      30
1083814        RECYCLED ACAPULCO MAT PINK                       6
1083815              DOILY THANK YOU CARD                      15
1083816          REGENCY CAKESTAND 3 TIER                      48
1083817             HEART OF WICKER SMALL                       9

         CostPerItem         Country
1083813         2.28            EIRE
1083814        11.39  United Kingdom
1083815         1.15  United Kingdom
1083816        15.12  United Kingdom
1083817         2.28  United Kingdom
------------------------------Data Info:------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083818 entries, 0 to 1083817
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1083818 non-null  int64
 1   TransactionId           1083818 non-null  int64
 2   TransactionTime         1083818 non-null  object
 3   ItemCode                1083818 non-null  int64
 4   ItemDescription         1080910 non-null  object
 5   NumberOfItemsPurchased  1083818 non-null  int64
 6   CostPerItem             1083818 non-null  float64
 7   Country                 1083818 non-null  object
dtypes: float64(1), int64(4), object(3)
memory usage: 66.2+ MB
None
------------------------------Data Description------------------------------
                            count          mean            std         min  \
UserId                  1083818.0  2.410162e+05  142336.431264       -1.00
TransactionId           1083818.0  6.159417e+06  147634.093880  5900015.00
ItemCode                1083818.0  6.582687e+05  452631.426503       -1.00
NumberOfItemsPurchased  1083818.0  2.865675e+01     654.243172  -242985.00
CostPerItem             1083818.0  9.498798e+00    2308.138578   -15265.64

                               25%         50%        75%         max
UserId                   259392.00   302022.00   341355.0   384027.00
TransactionId           6026856.00  6166611.00  6289569.0  6397457.00
ItemCode                 460908.00   475293.00   488943.0  1894494.00
NumberOfItemsPurchased        3.00        9.00       30.0   242985.00
CostPerItem                   1.73        2.88        5.7  1696285.44

In [4]:
transaction_data.clean_data()

Number of rows ignored 293092

In [5]:
transaction_data.get_data_info(transaction_data.data_cleaned)

------------------------------First Five rows:------------------------------
   UserId  TransactionId TransactionTime  ItemCode  \
0  278166        6355745      2019-02-02    465549
1  337701        6283376      2018-12-26    482370
2  267099        6385599      2019-02-15    490728
3  380478        6044973      2018-06-22    459186
5  285957        6307136      2019-01-11   1787247

                     ItemDescription  NumberOfItemsPurchased  CostPerItem  \
0   FAMILY ALBUM WHITE PICTURE FRAME                       6        11.73
1              LONDON BUS COFFEE MUG                       3         3.52
2  SET 12 COLOUR PENCILS DOLLY GIRL                       72         0.90
3        UNION JACK FLAG LUGGAGE TAG                       3         1.73
5   CUT GLASS T-LIGHT HOLDER OCTAGON                      12         3.52

          Country  TotalPrice
0  United Kingdom       70.38
1  United Kingdom       10.56
2          France       64.80
3  United Kingdom        5.19
5  United Kingdom       42.24
------------------------------Last Five rows:------------------------------
         UserId  TransactionId TransactionTime  ItemCode  \
1083812  261681        6153092      2018-09-19    477330
1083813  313131        6040298      2018-06-18    437976
1083814  295743        6387117      2019-02-16    484113
1083816  324765        5945500      2018-03-23    470883
1083817  351645        6118145      2018-08-21    471849

                          ItemDescription  NumberOfItemsPurchased  \
1083812        ALARM CLOCK BAKELIKE IVORY                      12
1083813  DENIM PATCH PURSE PINK BUTTERFLY                      30
1083814        RECYCLED ACAPULCO MAT PINK                       6
1083816          REGENCY CAKESTAND 3 TIER                      48
1083817             HEART OF WICKER SMALL                       9

         CostPerItem         Country  TotalPrice
1083812         5.18     Switzerland       62.16
1083813         2.28            EIRE       68.40
1083814        11.39  United Kingdom       68.34
1083816        15.12  United Kingdom      725.76
1083817         2.28  United Kingdom       20.52
------------------------------Data Info:------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 790726 entries, 0 to 1083817
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   UserId                  790726 non-null  int64
 1   TransactionId           790726 non-null  int64
 2   TransactionTime         790726 non-null  datetime64[ns]
 3   ItemCode                790726 non-null  int64
 4   ItemDescription         790726 non-null  object
 5   NumberOfItemsPurchased  790726 non-null  int64
 6   CostPerItem             790726 non-null  float64
 7   Country                 790726 non-null  object
 8   TotalPrice              790726 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 60.3+ MB
None
------------------------------Data Description------------------------------
                           count          mean            std         min  \
UserId                  790726.0  3.213232e+05   35893.894828   259266.00
TransactionId           790726.0  6.167517e+06  143743.683808  5900015.00
ItemCode                790726.0  6.456300e+05  432622.218062       42.00
NumberOfItemsPurchased  790726.0  3.898738e+01     539.468462        3.00
CostPerItem             790726.0  8.274393e+00    2697.743823        0.06
TotalPrice              790726.0  1.944198e+02   64758.414554        0.27

                               25%         50%         75%          max
UserId                   293475.00   318339.00   352800.00    384027.00
TransactionId           6042091.00  6180988.00  6293133.00   6397457.00
ItemCode                 462567.00   475986.00   488691.00   1894494.00
NumberOfItemsPurchased        6.00       18.00       36.00    242985.00
CostPerItem                   1.73        2.70        5.18   1696285.44
TotalPrice                   19.44       48.96       82.08  40710850.56